/*Global*/
*, *::before, *::after {
	box-sizing: border-box;
}

body {
  margin: 0;
	text-align: center;	
}
.navbar-nav {
  color: white;
}
.splash {
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/159643/laptop-ipad-organic-natural-159643.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  position: relative;
  background-position: center center;
  background-size: cover;
}
.splash-inner {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  color: white;
}

.btn {
  display: inline-block;
  min-width: 160px;
  margin: 24px auto 0 auto;
  padding: 16px;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  background-position: 100% 0;
  background-size: 300%;
  color: white;
  background-color: yellow;
}
.thumbnail {
  width: 100%;
}
.thumbnail img {
  width: 100%; 
  height: 100%; 
  object-fit: contain;
}

h2 {
  font-size: 25px;
  text-align: center;
}
.footer {
  display: inline;
}
li {
  display: inline;
}
i {
  font-size: 30px;
  color: yellow;
  background-color: white;
  height: 60px;
  Width: 60px;
  border-radius: 50%;
  border-color: yellow;
  border-style: solid;
  text-align: center;
}
.footer {
  max-width: 1140px;
  margin: 0 auto;
  padding: 48px 48px;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.footer ul li i {
  font-size: 30px;
  width: 60px;
  height: 60px;
  color: #ffffff;
  padding-top: 15px;
  background: black;
  border-radius: 50%;
  border-style: none;
  line-height: 30px;
  text-align: center;
  margin: 15px;
}
.footer ul li {
  display: inline; 
}
.footer ul li a {
  font-size: 0; 
}
.copyright {
  justify-content: flex-start;
}